/* I styled the entire body of the webpage in a way that fills the entirety of the webpage and displays vertically. */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: fixed;
}


header {
    align-self: center;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-style: italic;
}


main {
    display:grid;
    flex-grow: 1;
    justify-items: center;
}

/* Here I am styling the content of the quiz to display in an appealing and clear way. */
section {
    width: 100%;
    padding: 0 25px 0 25px;
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
}

/* trying to make the buttons bigger */
#a #b #c #d {
    tab-size: 5px;
}

p {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    padding-left: 20px;
}

.btn {
    height: 50%;
    font-size: larger;
    color: white;
    background-color: red;
    padding-left: 50px;
    padding-right: 50px;
}


input {
    height:min-content;
    width: min-content;
}

/* Added some subtle style in the footer to link my name to my github profile. */
footer {
    align-self: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: crosshair;
    color: coral;
}

a:visited {
    text-decoration: none;
}