/* I styled the entire body of the webpage in a way that fills the entirety of the webpage and displays vertically. */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: fixed;
}


header {
    align-self: center;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-style: italic;
}

#a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}